# OSファイル
.DS_Store
Thumbs.db

# エディタ/IDE固有のファイル
.vscode/
.idea/
*.swp
*.swo

# ビルド出力
/build/
/dist/

# 依存関係
/node_modules/
/vendor/

# ログファイル
*.log

# 環境設定ファイル
.env
.env.local

# キャッシュファイル
*.cache

# バイナリファイル
*.exe
*.dll
*.so
*.dylib

# テンポラリファイル
*.tmp
*.bak

# その他
*.pdf
*.zip
*.tar.gz

bin/
*.exe

!/.nuget/nuget.exe

# パッケージフォルダ内の .ts ファイルは要らない
package/**/*.js
